:root {
  --primaryBg: #fffdfa;
  --primaryText: #323335;
  --primaryLinks: #323335;
  --secondaryBg: #fffdfa;
  --secondaryText: #323335;
  --secondaryLinks: #fffdfa;
  --shadow: #595659;
  --cardBg: #323335;
  --cardText: #fffdfa;
  --cardLink: #fffdfa;
}
