:root {
  --primaryBg: #ffffff;
  --primaryText: #323335;
  --primaryLinks: #323335;
  --secondaryBg: #ffffff;
  --secondaryText: #323335;
  --secondaryLinks: #ffffff;
  --shadow: #595659;
  --cardBg: #323335;
  --cardText: #ffffff;
  --cardLink: #ffffff;
}
