:root {
  --primaryBg: #eff3ff;
  --primaryText: #323335;
  --primaryLinks: #323335;
  --secondaryBg: #e6e5f2;
  --secondaryText: #323335;
  --secondaryLinks: #e6e5f2;
  --shadow: #595659;
  --cardBg: #323335;
  --cardText: white;
  --cardLink: #e6e5f2;
}
